@use '../util/' as *;

.carousel__wrapper {
    // min-height: rem(300);
    height: 80vw;
    width: 100vw;
    position: relative;

    .carousel__slides-wrapper {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .carousel__image-wrapper {
        width: 100vw;
        height: 80vw;

        .carousel__product-image {
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.active-anim {
    opacity: 1;
}

.container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
    z-index: 10;
}
.dot.active {
    background: rgb(32, 32, 32);
    z-index: 10;
}
