@use "../util/" as *;

.navbar {
    display: flex;
    height: rem(70);
    padding: rem(16) rem(24);
    align-items: center;
    justify-content: space-between;

    @include breakpoint(large) {
        height: rem(110);
        padding: 0;
    }

    .wrapper-left {
        display: flex;
        align-items: center;
        gap: rem(16);

        @include breakpoint(large) {
            gap: rem(56);
            height: inherit;

            .navbar__menu {
                display: flex;
                gap: rem(34);
                height: inherit;
                align-items: center;
                font-size: rem(14);
                li {
                    display: flex;
                    height: inherit;
                    align-items: center;
                    border-bottom: solid 3px transparent;

                    a {
                        color: var(--very-dark-blue);
                    }
                }
                li:hover {
                    border-bottom: solid 3px var(--orange);
                }
            }
        }
    }
    .wrapper-right {
        display: flex;
        align-items: center;
        gap: rem(20);
        @include breakpoint(large) {
            gap: rem(46);
        }

        .navbar__avatar {
            height: rem(24);
            width: rem(24);
            border-radius: 50%;
            border: solid 2px transparent;
            
            &:hover,
            &:focus {
                border: solid 2px var(--orange);
            }
            
            @include breakpoint(large) {
                height: rem(50);
                width: rem(50);
            }
        }
    }

    .navbar__menu {
        display: flex;
        list-style: none;
    }
}

.menu-toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: rem(20);
    z-index: 5;
}
