@use '../util/' as *;

.Product {
    &__info-wrapper {
        padding: rem(24);

        @include breakpoint(large) {
            padding-top: rem(64);
            padding-top: 7vmin;
            padding-bottom: rem(40);
        }

        .Product__seller {
            color: var(--orange);
            font-weight: 700;
            font-size: rem(12);
            line-height: rem(12);
            letter-spacing: 1px;
            margin-bottom: rem(20);
        }

        .Product__name {
            color: var(--very-dark-blue);
            font-size: rem(26);
            line-height: rem(32);
            margin-bottom: rem(16);

            @include breakpoint(large) {
                font-size: rem(42);
                line-height: rem(46);
                margin-bottom: rem(38);
            }
        }

        .Product__details {
            color: var(--dark-grayish-blue);
            font-size: rem(15);
            line-height: rem(25);
            margin-bottom: rem(34);

            @include breakpoint(large) {
                font-size: rem(15);
                line-height: rem(26);
            }
        }

        .Product__price-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            @include breakpoint(large) {
                align-items: flex-start;
                flex-direction: column;
                gap: rem(14);
            }
            .Product__left-wrapper {
                display: flex;
                align-items: center;
                gap: rem(18);
            }
            .Product__current-price {
                font-size: rem(25);
                line-height: rem(24);
            }
            .Product__discount {
                color: var(--orange);
                background-color: var(--pale-orange);
                padding: rem(6) rem(9);
                border-radius: 20%;
                font-size: rem(12);
                line-height: rem(12);
            }
            .Product__normal-price {
                color: var(--grayish-blue);
                text-decoration: line-through;
            }
        }
    }
}
