@use '../util/' as *;

form {
    margin: 0 24px;
    @include breakpoint(large) {
        display: flex;
        align-items: center;
        align-self: start;
        gap: 1rem;
    }

    .input-wrapper {
        background-color: var(--light-grayish-blue);
        border-radius: 8px;
        height: 3rem;
        width: 100%;
        padding: 0.5rem;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        @include breakpoint(large) {
            height: rem(54);
            min-width: rem(100);
            width: 40%;
        }
        .input {
            background-color: transparent;
            border: none;
            border-radius: 8px;
            font-weight: 700;
            font-size: 14px;
            text-align: center;
            width: 80%;

            // @include breakpoint(large) {
            //     height: rem(54);
            // }
        }
        .btn__increase,
        .btn__decrease {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    .btn__add-to-cart {
        margin-top: 1rem;
        width: 100%;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(14);
        box-shadow: var(--orange) 0px 10px 35px -10px;

        @include breakpoint(large) {
            margin-top: 0;
            width: 60%;
            min-width: rem(150);
        }

        .btn__icon path {   
          fill: var(--white);
        }

        /* .btn__icon-wrapper { */
        /*     height: 18px; */
        /*     width: 18px; */
        /* } */
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.iconcart {
    fill: white;
    color: white;
    object-fit: contain;
    height: 100%;
    width: 100%;
}
