:root {
    // Primary Color
    --intro-email-bg: hsl(217, 28%, 15%); // intro and email sign up background
    --main-bg: hsl(217, 28%, 15%); // main background
    --footer-bg: hsl(217, 28%, 15%); // footer background
    --testimonial-bg: hsl(217, 28%, 15%); // testimonial background

    // Accent
    --cyan: hsl(176, 68%, 64%); // inside call-to-action gradient
    --blue: hsl(198, 60%, 50%); // inside call-to-action gradient
    --light-red: hsl(0, 100%, 63%); // error

    // Neutral
    --white: hsl(0, 0%, 100%);
}