@use "../util/" as *;

.navbar {
    background-color: var(--intro-email-bg);
    display: flex;
    justify-content: space-between;

    padding: rem(24) rem(25) 0 rem(20);

    .navbar__logo {
        width: rem(82);
        height: rem(25);
    }

    .navbar__items {
        display: flex;
        align-items: flex-end;

        gap: 1rem;
        margin: 0;
        padding-bottom: 0.5rem;
        list-style: none;
    }

    .navbar__link {
        color: var(--white);
        text-decoration: none;
        display: block;
        position: relative;
    }

    .navbar__link::after {
        left: 0;
        // bottom: 0;
        top: 100%;
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        transform: scaleX(0);
        transition: transform 0.5s;
        background: var(--white);
        transform-origin: right;
    }

    .navbar__link:hover::after { 
        transform: scaleX(1);
        transform-origin: left;
    }
}
