@use "../util/" as *;

.sign-up-wrapper {
    padding: 0 7.5vw;
    .sign-up-card {
        //
        background-color: var(--testimonial-bg);
        border-radius: rem(12);
        padding: rem(45) rem(30) rem(36);
        text-align: center;


        .sign-up__title {
            font-family: var(--font-raleway);
            font-size: rem(18);
            margin-bottom: rem(24);
        }

        .sign-up__copy {
            font-size: rem(16);
            margin-bottom: rem(35);
        }

        .sign-up__form {
            position: relative;

            .sign-up__input {
                border-radius: rem(25);
                border: none;
                height: rem(50);
                width: 100%;
                padding-left: rem(30);
                
                margin-bottom: rem(6);
                // margin-bottom: rem(6);
            }

            .sign-up__input::placeholder {
                color: hsl(0, 0, 70%)
            }

            .sign-up__input:focus {
                outline: solid 2px;
                outline-color: var(--cyan);
            }

            .form-error {
                color: var(--light-red);
                text-align: left;
                padding-left: 1.75rem;
                // position: absolute;
                // top: -0.5rem;
                font-size: rem(12);
                // left: 0;
            }

            .sign-up__btn {
                margin-top: rem(24);
                border: none;
                border-radius: rem(25);
                width: 100%;
                height: rem(50);
            }
        }
    }
}
